html, body {
  overflow-x: hidden;
}
body {
  font-family: Source Sans Pro, sans-serif;
  font-weight: 400;
  color: #aaa;
  font-size: 1.5em;
  margin: 0;
  background: #fff;
}
::selection {
  color: white;
  background: #E66767;
}
::-moz-selection {
  color: white;
  background: #E66767;
}
a, label {
  color: #ccc;
  text-decoration: none;
  transition: all .3s;
  cursor: pointer;
}
#controls:hover a, #options:hover a, #footer:hover, #options:hover label {
  color: #999
}

a:hover, #controls a:hover, #options a:hover, #options label:hover {
  color: #444;
}
.container {
  text-align: center;
}
#pomodoro {
  padding: 120px 0 50px;
}
#timer-container {
  height: 200px;
  background-color: #E66767;
  margin-bottom:50px;
  position:relative;
}
#timer-bg {
  height: 5.2em;
  position:absolute;
  top: 65px;
  left: -1600px;
  width: 2800px;

  /* wave stuff */
  animation-name: wave;
  animation-duration: 2500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="307" height="2000" viewBox="0 0 307 2000"><path fill-rule="evenodd" clip-rule="evenodd" fill="#333" d="M0 0h307v2000c-64.47 0-90.563-25.623-153.5-25.623C90.565 1974.377 62.935 2000 0 2000V0z"/></svg>');
  background-position:bottom left;
}
  @keyframes wave
  {
  	0% { transform:translatex(0px);  }
    50% { transform:translatex(150px); ; }
    100% { transform:translatex(300px); }
  }
#timer {
  color: #000;
  font-family: Rozha One, serif;
  background: #fff;
  mix-blend-mode: lighten;
  font-weight: 400;
  font-size: 7.5em;
  height: 200px;
  text-align:center;
  position:relative;
  padding: 0 5%;
}
  @media (max-width: 580px) {
    #timer-bg {
      top: 36px;
      height: 3em;
    }
    #timer {
      font-size: 4em;
    }
  }
#timer div {
  display: inline;
}

#controls {
  display:inline-block;
  padding-top: 20px;
}

#controls #pause, #timers a.button .time, .edit-time, #timers a#done, #unmute, #autopilot, #fullscreen-exit, #history, #help-box {
  display: none;
}

#controls a i, #options a i, #options label i{
  margin: 0 10px;
}

#timers a.button {
  display: inline-block;
  border-radius: 4px;
  background:#fafafa;
  padding: 10px;
  width: 130px;
  font-size:.8em;
  color: #888;
  margin: 20px;
}

#timers a.button:hover {
  background: #E66767;
  color: #fff;
}

#timers a.button:hover input[type="text"] {
  color: #fff;
  border-bottom-color: white;
}

#timers a.button input[type="text"] {
  background: none;
  border: none;
  border-bottom: 2px solid #888;
  font-size: 1em;
  width: 40px;
  text-align: center;
  margin: 0 auto;
  font-family: Source Sans Pro, sans-serif;
  color: #888;
}

#timers a.button input:focus {
  outline-width: 0;
}

#options {
  margin: 50px;
  display: inline-block
}

#help-box~#help-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
}

#help-box:checked~#help-overlay {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
}

#help-overlay label {
  position:absolute;
  right: 50px;
  top: 50px;
  cursor: pointer;
}

#help-container {
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: 40%;
}

#help-container a {
  text-decoration: underline;
}

#footer {
  display: inline-block;
  transition: all .3s;
  font-size:.8em;
  padding-bottom:50px;
}
