body {
  font-family: Open Sans;
  font-weight: 400;
  color: #cfcfcf;
  font-size: 1.5em;
  padding:80px
}
a {
  color: #ddd;
  text-decoration: none;
  transition: all .3s
}
a:hover {
  color: #777
}
.container {
  text-align: center;
}
#pomodoro {
  padding: 50px;
}
#timer-container {
  height: 200px;
  background-color: #E66767;
  margin-bottom:50px;
}
#timer-bg {
  background-color: #eee;
  height: 4.2em;
  overflow:visible!important;
  position:relative;
  top: 62px;
}
#timer {
  color: #000;
  font-family: Rozha One;
  background: #fff;
  mix-blend-mode: lighten;
  font-weight: 400;
  font-size: 6.67em;
  height: 200px;
  text-align:center;
  position:relative;
  top: -62px;
}
#timer div {
  display: inline;
}

#controls #pause, #timers a.button .time, .edit-time, #timers a#done, #unmute, #autopilot, #fullscreen-exit, #history {
  display: none;
}

#controls a i, #options a i{
  margin: 0 10px;
}

#timers a.button {
  display: inline-block;
  border-radius: 4px;
  background:#fafafa;
  padding: 10px;
  width: 130px;
  font-size:.8em;
  color: #888;
  margin: 20px;
}

#timers a.button:hover {
  background: #E66767;
  color: #fff;
}

#timers a.button:hover input[type="text"] {
  color: #fff;
  border-bottom-color: white;
}

#timers a.button input[type="text"] {
  background: none;
  border: none;
  border-bottom: 2px solid #888;
  font-size: 1em;
  width: 40px;
  text-align: center;
  margin: 0 auto;
  font-family: Open Sans;
  color: #888;
}

#timers a.button input:focus {
  outline-width: 0;
}

#options {
  padding: 50px
}
